


.div_def{
  background-color: #f1f1f1;
    padding: 15px 10px 10px 10px;
  
}


.div_voc{
  
  background-color: LightGrey;
  padding: 15px 10px 10px 10px;
  
}


.titre_def{
  
  text-align: left;
  font-size:18px;
  font-weight:bold;
  color:black;
  
}

.def{
  
  text-align: left;
  font-size:15px;
  color: black;
  
}


.methode{
  text-decoration: underline #0162b1;
  text-align: left;
  font-weight:bold;
  font-size:16px;
  color: #0162b1;figure {     display: inline-block;     margin: 20px; /* adjust as needed */ } figure img {     vertical-align: top; } figure figcaption {     font-size: 14px;     margin-top: 15px;     font-weight: bold;     text-align: center; } 
    
}

.package{
  font-weight:bold;
  color: #ee2570;
    
}


.fonction{
  font-style: italic;
  color: #56c9f4;
    
}

#auto {
  text-align:center;
  font-style: italic;
  padding: 15px 0 1px 0 ;
  font-size:90%;
  color: #4d4d4d
}




